numpy
pandas
opencv-python-headless==4.8.1.78
torch==2.2.2
torchvision==0.17.2
scikit-learn
hdbscan
folium
streamlit
fastapi
uvicorn
deep_sort_realtime
lapx==0.5.5
matplotlib
tqdm
joblib
ultralytics==8.1.0
